<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="org.droidmod.updater"
	android:versionName="0.0.9"
	android:versionCode="9">
	<application
	    android:icon="@drawable/icon"
	    android:label="@string/app_label"
		android:name="SholesModUpdater"
		android:persistent="true">
		<activity
		    android:name="org.droidmod.updater.Updater"
			android:label="@string/app_label"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout"
			android:launchMode="singleInstance">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity
			android:name="org.droidmod.updater.RomMenu"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout"
			android:launchMode="singleInstance"	/>
		<activity
			android:name="org.droidmod.updater.RomDownload"
			android:configChanges="keyboard|keyboardHidden|orientation|screenLayout"
			android:launchMode="singleInstance"	/>
	</application>
	<uses-sdk android:minSdkVersion="6" />
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
</manifest> 